@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: AgencyFB-Bold;
  src: url("/assets/fonts/AgencyFB-Bold.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: SVNJusticeLeague;
  src: url("/assets/fonts/SVNJusticeLeague.otf");
}
@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }

  24% {
    transform: translate(0px, 10px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  78% {
    transform: translate(0px, -18px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
body {
  overflow-x: hidden;
}
main {
  background: url("/assets/images/BG.jpg") top center/cover no-repeat;
  padding-bottom: 70px;
}
.app {
  &-dl {
    width: 258px;
    height: 66px;
    background: url("/public/assets/images/btn-1.png");
    display: flex;
    align-items: center;
    font-family: SVNJusticeLeague;
    justify-content: center;
    font-size: 36px;
    color: #fff;
    padding-top: 8px;
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
  &-code {
    margin-top: 20px;
    background: url("/assets/images/k1.png") center no-repeat;
    padding: 20px 0;
    &__p {
      text-align: center;
      font-family: Roboto-Regular;
      font-size: 18px;
      color: #fff;
      text-align: center;
      word-break: break-all;
      strong {
        font-family: Roboto-Bold;
        color: #2fcaff;
      }
    }
    &__scroll {
      margin: auto;
      animation: animationFrames linear 0.8s infinite;
      -webkit-animation: animationFrames linear 0.8s infinite;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-p {
        color: #fff;
        font-family: SVNJusticeLeague;
        font-size: 22px;
      }
    }
  }
  &-title {
  }
}
.mySwiper {
  width: 80%;
  height: 500px;
  padding: 25px 25px 100px !important;

  &-slide {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("/assets/images/k2.png");
      background-size: 100% 100%;
      z-index: 1;
    }
    &__img {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%, 0 95%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &-control {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 10;
    &__prev {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
    &__name {
      display: none;
      margin: 50px auto 0;
      clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
      background: linear-gradient(to right, #64f4ff, #129deb);

      height: 50px;

      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-family: AgencyFB-Bold;
      color: #fff;
      font-size: 35px;
    }
  }

  .swiper-slide-active {
    position: relative;

    & .mySwiper-slide {
      filter: none;
      -webkit-filter: none;
      &::before {
        background: url("/assets/images/k3.png");
        content: "";
        width: 110%;
        height: 108%;
        position: absolute;
        top: -20px;
        left: -16px;
        background-size: 100% 100%;
        z-index: 1;
      }
    }
    & .mySwiper-control__name {
      display: flex;
    }
  }
  &2 {
    width: 80%;

    padding: 20px !important;
    height: 700px;
    & .swiper-slide {
      height: calc((100% - 30px) / 2) !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-slide {
      position: relative;
      width: 100%;
      height: 100%;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url("/assets/images/k2.png");
        background-size: 100% 100%;
        z-index: 1;
      }
      &__img {
        &1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          z-index: 11;
        }
      }
      &__iframe {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 96%);
        width: 96%;
        height: 96%;
        object-fit: cover;
        object-position: top;
        cursor: pointer;
         position: relative
         ;
         z-index: 11;
         top: 2%;left: 2%;
 

      
      }
    }
    & .swiper-button-next {
    }
    &-control {
      &__prev {
        position: absolute;
        top: 57%;
        left: -100px;

        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        z-index: 1;
      }
      &__next {
        position: absolute;
        top: 57%;
        z-index: 1;
        right: -100px;
      }
    }
  }
}
.mov-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}
.footer {
  &-p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    font-family: Roboto-Regular;
    text-align: center;
  }
  &-btn1 {
    background-color: #42464b;
    font-family: Roboto-Regular;
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
  }
}

@media (max-width: 767px) {
  main {
    background-position: top center;
  }
  .app {
    &-code {
      width: 100%;
      padding: 4px 16px;
      background-size: 100% 100%;
      &__p {
        width: 100%;
      }
    }
    &-mb {
      padding: 240px 16px 0;
    }
  }
  .mySwiper {
    width: 100%;
    height: 300px;
    &2{width: 100%;}
    &-control {
        bottom: 28px;
        width: 90%;
        &__name {
          margin-top: 24px;
          font-size: 30px;
    width: auto;
      }
      &__next,
      &__prev {
        width: 33px;

      }
    }
  
  }
  .mySwiper2 {
    height: 250px;
    padding: 20px 50px !important;
    &-control {
      &__prev {
        left: 20px;
        width: 35px;
        top: 62%;
      }
      &__next {
        right: 20px;
        width: 35px;
        top: 62%;
      }
    }
  }
  .mySwiper .swiper-slide-active .mySwiper-slide::before {
    left: -8px;
    top: -8px;
  }
  .mySwiper2 .swiper-slide {
    height: 100% !important;
  }
  .mySwiper2-slide__img1 {
    width: 30%;
  }
  .mov-top {
    display: none;
  }
  .footer {
    &-p {
      font-size: 14px;
    }
    &-btn1 {
      font-size: 10px;
    }
  }
}
@media (min-width: 768px) {
    .mySwiper{
      width: 100%;
      height: 400px;
        &-control {
            width: 80%;
            &__prev {
              left: 20px;
              top: 57%;
             
            }
            &__next {
              right: 20px;
              top: 57%;
           
            }
          }
    &2{
        width: 100%;
        height: 500px;
    }
    }
  
  .mySwiper .swiper-slide-active .mySwiper-slide::before {
    left: -12px;
    top: -12px;
  }
  .mySwiper2-control__next{
   right: 10px;
  top: 58%;
      }
      .mySwiper2-control__prev{
     left: 10px;
  top: 58%;
      }
}
@media (min-width: 1024px) {
  .mySwiper{
    height: 500px;
  }
    .mySwiper2-control__next{
  right:10px;
  top: 58%;

    }
    .mySwiper2-control__prev{
     left:10px;
     top: 58%;

    }
  .mySwiper .swiper-slide-active .mySwiper-slide::before {
    left: -16px;
    top: -16px;
  }
}
@media (min-width: 1280px) {
    .mySwiper{
        &-control{width: 50%;}
    }
  .mySwiper .swiper-slide-active .mySwiper-slide::before {
    top: -14px;
    left: -17px;
  }
  .mySwiper2 {
    height: 700px;
    &-control {
      &__prev {
      
    
      }
      &__next {
        
    
      }
    }
  }
}
@media (min-width:1440px) {
  .mySwiper2 {

    &-control {
      &__prev {
      left: -50px;
    
      }
      &__next {
        right: -50px;
    
      }
    }
  }
  
}


@media (min-width: 1600px) { 
  .mySwiper2 {

    &-control {
      &__prev {
      left: 10px;
    
      }
      &__next {
        right: 10px;
    
      }
    }
  }
}
@media (min-width: 1800px) { 
  .mySwiper2 {

    &-control {
      &__prev {
      left: -100px;
    
      }
      &__next {
        right: -100px;
    
      }
    }
  }
}